USE [master]
GO
/****** Object:  Database [Group05_Stage]    Script Date: 10/30/2024 9:51:49 PM ******/
CREATE DATABASE [Group05_Stage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Group05_Stage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Group05_Stage.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Group05_Stage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Group05_Stage_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Group05_Stage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Group05_Stage]
GO
/****** Object:  Table [dbo].[State_AQI_Stage]    Script Date: 10/30/2024 9:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_AQI_Stage](
	[State Name] [varchar](50) NULL,
	[county Name] [varchar](50) NULL,
	[State Code] [varchar](50) NULL,
	[County Code] [varchar](50) NULL,
	[Date] [varchar](50) NULL,
	[AQI] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[Defining Parameter] [varchar](50) NULL,
	[Defining Site] [varchar](50) NULL,
	[Number of Sites Reporting] [varchar](50) NULL,
	[Created] [datetime] NULL,
	[Last Updated] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USCounties_Stage]    Script Date: 10/30/2024 9:51:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USCounties_Stage](
	[county] [varchar](50) NULL,
	[county_ascii] [varchar](50) NULL,
	[county_full] [varchar](50) NULL,
	[county_fips] [varchar](50) NULL,
	[state_id] [varchar](50) NULL,
	[state_name] [varchar](50) NULL,
	[lat] [varchar](50) NULL,
	[lng] [varchar](50) NULL,
	[population] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO


USE Group05_Stage;
GO
SELECT * FROM State_AQI_Stage;
SELECT * FROM USCounties_Stage;