USE [master]
GO
/****** Object:  Database [Group05_Metadata]    Script Date: 10/30/2024 9:48:18 PM ******/
CREATE DATABASE [Group05_Metadata]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Group05_Metadata', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Group05_Metadata.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Group05_Metadata_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Group05_Metadata_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Group05_Metadata].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Group05_Metadata]
GO
/****** Object:  Table [dbo].[Data_Flow]    Script Date: 10/30/2024 9:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Flow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LSET] [datetime] NULL,
	[CET] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DQ_Rules]    Script Date: 10/30/2024 9:48:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DQ_Rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[rule_name] [varchar](255) NOT NULL,
	[rule_description] [text] NULL,
	[table_name] [varchar](100) NOT NULL,
	[column_name] [varchar](100) NULL,
	[rule_type] [varchar](50) NOT NULL,
	[rule_expression] [varchar](255) NOT NULL,
	[error_message] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DQ_Rules] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[DQ_Rules] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
USE [master]
GO

USE [Group05_Metadata];
GO

INSERT INTO Data_Flow(Name) VALUES('state_aqi');
INSERT INTO Data_Flow(Name) VALUES('uscounties');

CREATE TABLE DDS(
	ID INT IDENTITY(1,1) PRIMARY KEY,
	Name NVARCHAR(50),
	LSET DATETIME,
	CET DATETIME
)

INSERT INTO DDS(Name) VALUES ('Dim_State');
INSERT INTO DDS(Name) VALUES ('Dim_County');
INSERT INTO DDS(Name) VALUES ('Dim_AQI_Category');


SELECT * FROM Data_Flow;